<%- include('../header') %>

<form method="POST" action="/categorias/editar/<%= categoria.id%>"> 

<input type="text" class="form-control" placeholder="Insira o nome da categoria" type="text" name="categoria" value= "<%= categoria.categoria %>" />
<button type="submit" class="btn btn-primary mb-2">Salvar Edição</button>
</form>

<%- include('../footer') %>