<%- include('../header') %>


<form method="POST" action="/categorias/nova">
    <input type="text" class="form-control" placeholder="Insira o nome da categoria" type="text" name="categoria" />
    <button type="submit" class="btn btn-primary mb-2">Salvar</button>
</form>

<%- include('../footer') %>